@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

*
{
  box-sizing: border-box;
}
:root {
  --color-title: #4c4e61;
  --card-shadow: #4c4e6180;
  --color-p: #a3a5ae;
  --bg-card: #fff;
  --light-grayish: #fafafa;
  --card-border: #45d3d3;
}

body {
  position: relative;
  margin: 0;
  min-height: 100vh;
  padding-bottom: 50px;
  
  background-color: #fafafa;

  font-family: "Poppins", sans-serif;
  font-size: 15px;
}

h1,
h2,
h3,
p
{
  margin: 0;
}

.title
{
  color: var(--color-title);
}

.title-1,
.title-2
{
  font-size: 35px;
}
.title-1,
.title-2,
.main-paragraph
{
  min-width: min-content;
  width: 500px;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;

  text-align: center;
}

.paragraph
{
  color: var(--color-p);
  font-weight: 400;
}

.light
{
  font-weight: 200;
}
.bold
{
  font-weight: 600;
}

.card-container
{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  margin-right: auto;
  margin-left: auto;

  width: 90%;
}

.column
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  gap: 20px;

  width: 100%;
  height: auto;

  padding: 10px;
}

.card
{
  position: relative;

  padding: 20px;
  min-height: 200px;
  height: max-content;
  max-width: 100%;
  width: 350px;
  padding-bottom: 70px;

  box-shadow: 0 5px 10px var(--card-shadow);
  background-color: var(--bg-card);
  border-top: solid var(--card-border) 4px;
  border-radius: 10px;
}

.card--red
{
  --card-border: #ea5353;
}
.card--yellow
{
  --card-border: #fcaf4a;
}
.card--blue
{
  --card-border: #549ef2;
}

.card__title
{
  line-height: 25px;
  font-weight: 600;
}

.card__text
{
  padding: 10px 0;
}

.card__icon
{
  position: absolute;
  bottom: 10px;
  right: 10px;

  width: 50px;
  transition: filter .2s ease-in;
}

.attribution
{
  position: absolute;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  
  width: 100%;
  min-height: max-content;
  height: 50px;

  background-color: var(--color-title);
  color: var(--color-p);

  font-size: 16px;
  text-align: center;
}

.attribution a {
  color: var(--light-grayish);
  text-decoration: none;
}
  
@media screen and (min-width: 860px) {
  .card-container
  {
    flex-direction: row;
  }
}
@media screen and (min-width: 1200px) {
  .card-container
  {
    justify-content: center;
    min-height: max-content;
  }

  .column
  {
    flex-direction: column;
    width: 350px;
  }
  
  .card__icon:hover
  {
    filter: drop-shadow(0 0 10px var(--card-border));
  }
  .attribution a:hover,
  .attribution a:active 
  {
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
    text-decoration: underline;
  }
}
